*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  /************Navbar styling ***********/

  .navbar{
    height: 80px;
    width: 100%;
  /*  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('/Images/slider02.jpg');
    background-size: cover;
    background-position: center; */
    background-color: black;
    position: fixed;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    letter-spacing: 0.8px;
    
  }
  .logo{
    color: #ea1538;
    font-size: 28px;
    font-family: 'Bruno Ace SC', cursive;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
  }
  nav ul li a{
    color: #FFFAD7;
    text-decoration: none;
    font-weight: bold;
  }
  nav ul li a:hover{
    color: #ea1538;
    text-decoration: none;
    transition: .3s;
  }
  
  button{
    border: none;
    background: #FFFAD7;
    padding: 13px 25px;
    border-radius: 5px;
    color: #ea1538;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    
  }
  button:hover{
    transform: scale(1.2);
    cursor: pointer;
  }
  
  /***********section styling********/
  .home{
    width: 100%;
    min-height: 100vh;
    background-image: url('ash.jpg');
    background-size: cover;
    background-position: center top;
    /* position: relative; */
    display: grid;
    align-items: center;
  }
  
  .content{
    margin-left: 60px;
    margin-top: 80px;
    margin-right: 650px;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }
  .home h1{
    font-size: 30px;
    font-family: 'Bruno Ace SC';
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 1.2;
  }
  .home span{
    font-size: 22px;
    color: #ea1538;
  }
  .home p{
    font-size: normal;
    letter-spacing: 3px;
    line-height: 1.1;
  }
  /***Section button styling***/
  .homeButton{
    background-color: black;
    text-decoration: none;
    color: #ea1538;
    line-height: 5;
    margin: 15px;
    padding: 10px;
    
    font-family: 'Quicksand', sans-serif;
  }
  .homeButton:active , .homeButton:hover{
    background-color: #ea1538;
    color: white;
    transition: 0.4s;
  }
  
  /*************Items & Products section styling*****************/
  
  .ourProducts{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 50px;
  }
  .itemsContainer{
    display:flex;
    flex-flow: row wrap;
    margin-top: 80px;
    margin: 100px;
    justify-content: space-between;
    transition: background-color 0.5s;
  }
  .item{
    padding: 20px;
    text-align: center;
    border: 1px solid #ea1538;
    background-color: #ea1538;
    width: 300px;
    height: 350px;
    overflow: hidden;
    box-shadow: 5px 10px 30px #ea1538;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  }

    .item:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px #ea1538;
  }
  

  .itemsContainer img{
    height: 200px;
    width: 250px;
    cursor: auto;
  }
  
  
  
  /******************  About us Section **************/

  .aboutme{
    color: beige;
    margin-top: 100px;
    background-image: url('ball.jpg');
    background-size: cover;
    background-position: center;  
    height: 600px;
    width: 100%;
    display: grid;
    align-items: center;
  }
  .about-text h2 {
    margin-left: 60px;
    margin-top: 80px;
    margin-right: 650px;
    margin-bottom: 0px;
    letter-spacing: 2.5px;
    font-size: 40px;
  }
  .about-text h3 {
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 650px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  .about-text p {
    margin-left: 60px;
    margin-top: 0px;
    margin-right: 650px;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }
  

  #contactMeB {
    color: black;
    margin-left: 60px;
    margin-top: 0px;
    margin-right: 650px;
    margin-bottom: 10px;
    background-color: #FFFAD7;

  }
#contactMeB:active , #contactMeB:hover{
    background-color: #ea1538;
    color: white;
    transition: 0.4s;
  }
  
  
  /******Footer styling***********/
  footer{
    background-color: black;
    color: white;
    min-height: 30vh;
    flex-flow: row wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }
  .footerTop h1{
    font-family: 'Bruno Ace SC', cursive;
    letter-spacing: 1.2px;
    color: red;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .footerMiddle{
    display: flex;
    margin-right: 160px;
    margin-left: 100px;
    justify-content: space-between;
  }
  .footerMiddle ul{
    list-style: none;
  }
  
  .footerMiddle li{
    line-height: 2em;
    flex-flow: row wrap;
    text-decoration: none;
  }
  .footerBottom p{
    margin-top: 20px;
  }
